<div class="row-fluid">
    <div class="">
        <form action="/auth" class="form form-signin" method="post">
            <h4>Вход</h4>
            <input type="text" name="email" placeholder="Email" />
            <input type="password" name="password" placeholder="Password"/>
            <button class="btn btn-primary">Войти</button>
        </form>
    </div>
</div>