<div class="row-fluid">
    <div class="">
        <form action="/problems/new" class="form form-signin" method="post">
            <h4>Создание новой задачи</h4>
            <input type="text" name="name" placeholder="Name" />
            <input type="datetime-local" name="end_date" />
            <select name="difficulty">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <button class="btn btn-primary">Создать</button>
        </form>
    </div>
</div>